NET "CLK_50M" LOC = H22;
NET "enable0" LOC = W34;
NET "enable1" LOC = AJ34;
NET "DAT_DUT0" LOC = H2;
NET "DAT_DUT1" LOC = D2;

NET "save_data_dff_pi" LOC =
NET "data_clk_dff_pi" LOC =
NET "data_out_dff_pi" LOC =
NET "reset_pi" LOC =
NET "read_data_RO_pi" LOC =
NET "data_clk_RO_pi" LOC =
NET "data_out_RO_pi" LOC =
NET "data_out_SHIFT_pi" LOC =
NET "data_clk_SHIFT_pi" LOC =
NET "read_data_SHIFT_pi" LOC =

NET "DB_DFFQ0_0" LOC = H3;
NET "DB_DFFQ0_1" LOC = M3;
NET "DB_DFFQ0_2" LOC = N3;
NET "DB_DFFQ0_3" LOC = P2;
NET "DB_DFFQ0_4" LOC = N2;
NET "DB_DFFQ0_5" LOC = M2;
NET "DB_DFFQ0_6" LOC = T1;
NET "DB_DFFQ0_7" LOC = R1;
NET "DB_DFFQ0_8" LOC = P1;
NET "DB_DFFQ0_9" LOC = R2;
NET "DB_DFFQ1_0" LOC = D1;
NET "DB_DFFQ1_1" LOC = E3;
NET "DB_DFFQ1_2" LOC = E2;
NET "DB_DFFQ1_3" LOC = E1;
NET "DB_DFFQ1_4" LOC = G3;
NET "DB_DFFQ1_5" LOC = G2;
NET "DB_DFFQ1_6" LOC = F1;
NET "DB_DFFQ1_7" LOC = G1;
NET "DB_DFFQ1_8" LOC = K3;
NET "DB_DFFQ1_9" LOC = L3;

NET "O_INV0" LOC = AC33;
NET "O_NAND0" LOC = AB32;
NET "O_NOR0" LOC = AC32;
NET "DividerOutput0" LOC = V34;
NET "O_INV1" LOC = AM32;
NET "O_NAND1" LOC = AM33;
NET "O_NOR1" LOC = AL33;
NET "DividerOutput1" LOC = AD32;

NET "C0[0]" LOC = AD34;
NET "C0[1]" LOC = AC34;
NET "C1[0]" LOC = AL34;
NET "C1[1]" LOC = AK32;


NET "reset" IOSTANDARD = LVCMOS33;
NET "sin_db" IOSTANDARD = LVCMOS33;
NET "clk_50_db" IOSTANDARD = LVCMOS33;
NET "CLK_100K" IOSTANDARD = LVCMOS33;


NET "CLK_50M" IOSTANDARD = LVCMOS18;
NET "save_data_dff_pi" IOSTANDARD = LVCMOS33;

NET "DAT_DUT_CHIP1" IOSTANDARD = LVCMOS18;
NET "DAT_DUT_CHIP2" IOSTANDARD = LVCMOS18;
NET "DAT_DUT_CHIP22" IOSTANDARD = LVCMOS18;
NET "CLK_DUT_CHIP1" IOSTANDARD = LVCMOS18;
NET "CLK_DUT_CHIP2" IOSTANDARD = LVCMOS18;
NET "DB_DFFQ0" IOSTANDARD = LVCMOS18;
NET "DB_DFFQ1" IOSTANDARD = LVCMOS18;
NET "DB_DFFQ2" IOSTANDARD = LVCMOS18;
NET "DB_DFFQ3" IOSTANDARD = LVCMOS18;
NET "DB_DFFQ4" IOSTANDARD = LVCMOS18;
NET "DB_DFFQ5" IOSTANDARD = LVCMOS18;
NET "DB_DFFQ6" IOSTANDARD = LVCMOS18;
NET "DB_DFFQ7" IOSTANDARD = LVCMOS18;
NET "DB_DFFQ8" IOSTANDARD = LVCMOS18;
NET "DB_DFFQ9" IOSTANDARD = LVCMOS18;
NET "DB_DFFQ10" IOSTANDARD = LVCMOS18;
NET "DB_DFFQ11" IOSTANDARD = LVCMOS18;
NET "DB_DFFQ12" IOSTANDARD = LVCMOS18;
NET "DB_DFFQ13" IOSTANDARD = LVCMOS18;

NET "data_clk_dff_pi" IOSTANDARD = LVCMOS33;
NET "data_out_dff_pi" IOSTANDARD = LVCMOS33;

NET "comp_out_db" LOC = W6;
NET "comp_out_db" IOSTANDARD = LVCMOS18;

NET "SRAM_CLK" IOSTANDARD = LVCMOS18;
NET "SRAM_DATA_IN[0]" IOSTANDARD = LVCMOS18;
NET "SRAM_DATA_IN[1]" IOSTANDARD = LVCMOS18;
NET "SRAM_DATA_IN[2]" IOSTANDARD = LVCMOS18;
NET "SRAM_DATA_IN[3]" IOSTANDARD = LVCMOS18;
NET "SRAM_DATA_IN[4]" IOSTANDARD = LVCMOS18;
NET "SRAM_DATA_IN[5]" IOSTANDARD = LVCMOS18;
NET "SRAM_DATA_IN[6]" IOSTANDARD = LVCMOS18;
NET "SRAM_DATA_IN[7]" IOSTANDARD = LVCMOS18;
NET "RDWEN" IOSTANDARD = LVCMOS18;
NET "SRAM_DATA_OUT[0]" IOSTANDARD = LVCMOS18;
NET "SRAM_DATA_OUT[1]" IOSTANDARD = LVCMOS18;
NET "SRAM_DATA_OUT[2]" IOSTANDARD = LVCMOS18;
NET "SRAM_DATA_OUT[3]" IOSTANDARD = LVCMOS18;
NET "SRAM_DATA_OUT[4]" IOSTANDARD = LVCMOS18;
NET "SRAM_DATA_OUT[5]" IOSTANDARD = LVCMOS18;
NET "SRAM_DATA_OUT[6]" IOSTANDARD = LVCMOS18;
NET "SRAM_DATA_OUT[7]" IOSTANDARD = LVCMOS18;
NET "SRAM_ADDRESS[0]" IOSTANDARD = LVCMOS18;
NET "SRAM_ADDRESS[1]" IOSTANDARD = LVCMOS18;
NET "SRAM_ADDRESS[2]" IOSTANDARD = LVCMOS18;
NET "SRAM_ADDRESS[3]" IOSTANDARD = LVCMOS18;
NET "SRAM_ADDRESS[4]" IOSTANDARD = LVCMOS18;
NET "SRAM_ADDRESS[5]" IOSTANDARD = LVCMOS18;
NET "SRAM_ADDRESS[6]" IOSTANDARD = LVCMOS18;
NET "SRAM_ADDRESS[7]" IOSTANDARD = LVCMOS18;
NET "SRAM_ADDRESS[8]" IOSTANDARD = LVCMOS18;
NET "SRAM_ADDRESS[9]" IOSTANDARD = LVCMOS18;
NET "SRAM_ADDRESS[10]" IOSTANDARD = LVCMOS18;
NET "SRAM_ADDRESS[11]" IOSTANDARD = LVCMOS18;
NET "SRAM_ADDRESS[12]" IOSTANDARD = LVCMOS18;
NET "SRAM_ADDRESS[13]" IOSTANDARD = LVCMOS18;
NET "SRAM_ADDRESS[14]" IOSTANDARD = LVCMOS18;

NET "reset_sram_RO_pi" IOSTANDARD = LVCMOS33;

NET "data_pi" IOSTANDARD = LVCMOS33;
NET "data_clk_pi" IOSTANDARD = LVCMOS33;

NET "clear_error" IOSTANDARD = LVCMOS33;
NET "sram_error_pi" IOSTANDARD = LVCMOS33;
NET "sram_data_out_clk_pi" IOSTANDARD = LVCMOS33;
NET "sram_data_out_pi" IOSTANDARD = LVCMOS33;

// signals for RO test
NET "read_data_RO_pi" IOSTANDARD = LVCMOS33;
NET "data_clk_RO_pi" IOSTANDARD = LVCMOS33;
NET "data_out_RO_pi" IOSTANDARD = LVCMOS33;

NET "C[0]" IOSTANDARD = LVCMOS18;
NET "C[1]" IOSTANDARD = LVCMOS18;

NET "O_INV" IOSTANDARD = LVCMOS18;
NET "O_NAND" IOSTANDARD = LVCMOS18;
NET "O_NOR" IOSTANDARD = LVCMOS18;

NET "data_clk_pi" CLOCK_DEDICATED_ROUTE = FALSE;
NET "sram_data_out_clk_pi" CLOCK_DEDICATED_ROUTE = FALSE;
NET "data_clk_RO_pi" CLOCK_DEDICATED_ROUTE = FALSE;

NET "O_INV" CLOCK_DEDICATED_ROUTE = FALSE;
NET "O_NAND" CLOCK_DEDICATED_ROUTE = FALSE;
NET "O_NOR" CLOCK_DEDICATED_ROUTE = FALSE;

NET "save_data_dff_pi" CLOCK_DEDICATED_ROUTE = FALSE;
NET "data_clk_dff_pi" CLOCK_DEDICATED_ROUTE = FALSE;


//NET "CLK_MCU" CLOCK_DEDICATED_ROUTE = FALSE;