# ------------------- Setting Pin Locations for All Outputs and Inputs -------------------
NET "CLK_50M" LOC = H22;
NET "enable0" LOC = W34;
NET "enable1" LOC = AJ34;
NET "DAT_DUT0" LOC = H2;
NET "DAT_DUT1" LOC = D2;

NET "save_data_dff_pi" LOC = L20; # IDC Pin 1
NET "data_clk_dff_pi" LOC = L14; # IDC Pin 19
NET "data_out_dff_pi" LOC = L15; # IDC Pin 20
NET "reset_pi" LOC = L19; # IDC Pin 2
NET "read_data_RO_pi" LOC = J22; # IDC Pin 14
NET "data_clk_RO_pi" LOC = K13; # IDC Pin 15
NET "data_out_RO_pi" LOC = K14; # IDC Pin 16
NET "data_out_SHIFT_pi" LOC = K16; # IDC Pin 7
NET "data_clk_SHIFT_pi" LOC = L16; # IDC Pin 8
NET "read_data_SHIFT_pi" LOC = K19; # IDC Pin 10

NET "DB_DFFQ0_0" LOC = H3;
NET "DB_DFFQ0_1" LOC = M3;
NET "DB_DFFQ0_2" LOC = N3;
NET "DB_DFFQ0_3" LOC = P2;
NET "DB_DFFQ0_4" LOC = N2;
NET "DB_DFFQ0_5" LOC = M2;
NET "DB_DFFQ0_6" LOC = T1;
NET "DB_DFFQ0_7" LOC = R1;
NET "DB_DFFQ0_8" LOC = P1;
NET "DB_DFFQ0_9" LOC = R2;
NET "DB_DFFQ1_0" LOC = D1;
NET "DB_DFFQ1_1" LOC = E3;
NET "DB_DFFQ1_2" LOC = E2;
NET "DB_DFFQ1_3" LOC = E1;
NET "DB_DFFQ1_4" LOC = G3;
NET "DB_DFFQ1_5" LOC = G2;
NET "DB_DFFQ1_6" LOC = F1;
NET "DB_DFFQ1_7" LOC = G1;
NET "DB_DFFQ1_8" LOC = K3;
NET "DB_DFFQ1_9" LOC = L3;

NET "O_INV0" LOC = AC33;
NET "O_NAND0" LOC = AB32;
NET "O_NOR0" LOC = AC32;
NET "DividerOutput0" LOC = V34;
NET "O_INV1" LOC = AM32;
NET "O_NAND1" LOC = AM33;
NET "O_NOR1" LOC = AL33;
NET "DividerOutput1" LOC = AD32;

NET "C0[0]" LOC = AD34;
NET "C0[1]" LOC = AC34;
NET "C1[0]" LOC = AL34;
NET "C1[1]" LOC = AK32;
NET "K0[0]" LOC = AB33;
NET "K0[1]" LOC = AF33;
NET "K1[0]" LOC = AN34;
NET "K1[1]" LOC = AN33;

# This is for the shifter circuit shift out is "out" to DUT and in is "in" from DUT
# So from the perspective of the DUT the "OUT" signals are its inputs
NET "SHIFT_OUT0_0" LOC = Y32;
NET "SHIFT_OUT0_1" LOC = AA34;
NET "SHIFT_OUT1_0" LOC = AJ32;
NET "SHIFT_OUT1_1" LOC = AK33;
NET "SHIFT_INPUT0_0" LOC = Y34;
NET "SHIFT_INPUT0_1" LOC = Y33;
NET "SHIFT_INPUT1_0" LOC = AG32;
NET "SHIFT_INPUT1_1" LOC = AK34;

NET Ext_CLK_0 LOC = AE33;
NET Ext_CLK_1 LOC = AN32;

# -------------------Setting IO Standard voltage Pin-------------------
NET "CLK_50M" IOSTANDARD = LVCMOS18;
NET "enable0" IOSTANDARD = LVCMOS18;
NET "enable1" IOSTANDARD = LVCMOS18;
NET "DAT_DUT0" IOSTANDARD = LVCMOS18;
NET "DAT_DUT1" IOSTANDARD = LVCMOS18;

NET "save_data_dff_pi" IOSTANDARD = LVCMOS33; # IDC Pin 1
NET "data_clk_dff_pi" IOSTANDARD = LVCMOS33; # IDC Pin 19
NET "data_out_dff_pi" IOSTANDARD = LVCMOS33; # IDC Pin 20
NET "reset_pi" IOSTANDARD = LVCMOS33; # IDC Pin 2
NET "read_data_RO_pi" IOSTANDARD = LVCMOS33; # IDC Pin 14
NET "data_clk_RO_pi" IOSTANDARD = LVCMOS33; # IDC Pin 15
NET "data_out_RO_pi" IOSTANDARD = LVCMOS33; # IDC Pin 16
NET "data_out_SHIFT_pi" IOSTANDARD = LVCMOS33; # IDC Pin 7
NET "data_clk_SHIFT_pi" IOSTANDARD = LVCMOS33; # IDC Pin 8
NET "read_data_SHIFT_pi" IOSTANDARD = LVCMOS33; # IDC Pin 10

NET "DB_DFFQ0_0" IOSTANDARD = LVCMOS18;
NET "DB_DFFQ0_1" IOSTANDARD = LVCMOS18;
NET "DB_DFFQ0_2" IOSTANDARD = LVCMOS18;
NET "DB_DFFQ0_3" IOSTANDARD = LVCMOS18;
NET "DB_DFFQ0_4" IOSTANDARD = LVCMOS18;
NET "DB_DFFQ0_5" IOSTANDARD = LVCMOS18;
NET "DB_DFFQ0_6" IOSTANDARD = LVCMOS18;
NET "DB_DFFQ0_7" IOSTANDARD = LVCMOS18;
NET "DB_DFFQ0_8" IOSTANDARD = LVCMOS18;
NET "DB_DFFQ0_9" IOSTANDARD = LVCMOS18;
NET "DB_DFFQ1_0" IOSTANDARD = LVCMOS18;
NET "DB_DFFQ1_1" IOSTANDARD = LVCMOS18;
NET "DB_DFFQ1_2" IOSTANDARD = LVCMOS18;
NET "DB_DFFQ1_3" IOSTANDARD = LVCMOS18;
NET "DB_DFFQ1_4" IOSTANDARD = LVCMOS18;
NET "DB_DFFQ1_5" IOSTANDARD = LVCMOS18;
NET "DB_DFFQ1_6" IOSTANDARD = LVCMOS18;
NET "DB_DFFQ1_7" IOSTANDARD = LVCMOS18;
NET "DB_DFFQ1_8" IOSTANDARD = LVCMOS18;
NET "DB_DFFQ1_9" IOSTANDARD = LVCMOS18;

NET "O_INV0" IOSTANDARD = LVCMOS18;
NET "O_NAND0" IOSTANDARD = LVCMOS18;
NET "O_NOR0" IOSTANDARD = LVCMOS18;
NET "DividerOutput0" IOSTANDARD = LVCMOS18;
NET "O_INV1" IOSTANDARD = LVCMOS18;
NET "O_NAND1" IOSTANDARD = LVCMOS18;
NET "O_NOR1" IOSTANDARD = LVCMOS18;
NET "DividerOutput1" IOSTANDARD = LVCMOS18;

NET "C0[0]" IOSTANDARD = LVCMOS18;
NET "C0[1]" IOSTANDARD = LVCMOS18;
NET "C1[0]" IOSTANDARD = LVCMOS18;
NET "C1[1]" IOSTANDARD = LVCMOS18;
NET "K0[0]" IOSTANDARD = LVCMOS18;
NET "K0[1]" IOSTANDARD = LVCMOS18;
NET "K1[0]" IOSTANDARD = LVCMOS18;
NET "K1[1]" IOSTANDARD = LVCMOS18;

# This is for the shifter circuit shift out is "out" to DUT and in is "in" from DUT
# So from the perspective of the DUT the "OUT" signals are its inputs
NET "SHIFT_OUT0_0" IOSTANDARD = LVCMOS18;
NET "SHIFT_OUT0_1" IOSTANDARD = LVCMOS18;
NET "SHIFT_OUT1_0" IOSTANDARD = LVCMOS18;
NET "SHIFT_OUT1_1" IOSTANDARD = LVCMOS18;
NET "SHIFT_INPUT0_0" IOSTANDARD = LVCMOS18;
NET "SHIFT_INPUT0_1" IOSTANDARD = LVCMOS18;
NET "SHIFT_INPUT1_0" IOSTANDARD = LVCMOS18;
NET "SHIFT_INPUT1_1" IOSTANDARD = LVCMOS18;

NET Ext_CLK_0 IOSTANDARD = LVCMOS18;
NET Ext_CLK_1 IOSTANDARD = LVCMOS18;

# ------------------- Unlatching Clocked Signals With the FPGA -------------------
NET "save_data_dff_pi" CLOCK_DEDICATED_ROUTE = FALSE; # IDC Pin 1
NET "data_clk_dff_pi" CLOCK_DEDICATED_ROUTE = FALSE; # IDC Pin 19
NET "data_out_dff_pi" CLOCK_DEDICATED_ROUTE = FALSE; # IDC Pin 20
NET "reset_pi" CLOCK_DEDICATED_ROUTE = FALSE; # IDC Pin 2
NET "read_data_RO_pi" CLOCK_DEDICATED_ROUTE = FALSE; # IDC Pin 14
NET "data_clk_RO_pi" CLOCK_DEDICATED_ROUTE = FALSE; # IDC Pin 15
NET "data_out_RO_pi" CLOCK_DEDICATED_ROUTE = FALSE; # IDC Pin 16
NET "data_out_SHIFT_pi" CLOCK_DEDICATED_ROUTE = FALSE; # IDC Pin 7
NET "data_clk_SHIFT_pi" CLOCK_DEDICATED_ROUTE = FALSE; # IDC Pin 8
NET "read_data_SHIFT_pi" CLOCK_DEDICATED_ROUTE = FALSE; # IDC Pin 10

NET "O_INV0" CLOCK_DEDICATED_ROUTE = FALSE;
NET "O_NAND0" CLOCK_DEDICATED_ROUTE = FALSE;
NET "O_NOR0" CLOCK_DEDICATED_ROUTE = FALSE;
NET "DividerOutput0" CLOCK_DEDICATED_ROUTE = FALSE;
NET "O_INV1" CLOCK_DEDICATED_ROUTE = FALSE;
NET "O_NAND1" CLOCK_DEDICATED_ROUTE = FALSE;
NET "O_NOR1" CLOCK_DEDICATED_ROUTE = FALSE;
NET "DividerOutput1" CLOCK_DEDICATED_ROUTE = FALSE;